@using A4A.DataAccess
@model IEnumerable<A4A.Models.GroupModel>

@{
    ViewBag.Title = "ViewAllGroups";
    int ID = Convert.ToInt16(Session["ID"]);

    if (ID == 0)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }
}
<br />
<h2>🎥 View Groups</h2>

<p>
    <br />
    <button style="margin-right:6px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewAllGroups", "Group")';return false;">All Groups &raquo;</button>
    <button style="margin-right:6px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewMyGroups", "Group")';return false;">My Groups &raquo;</button>
    <button style="margin-right:6px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("CreateGroup", "Group")';return false;">Create Group &raquo;</button>
</p>

<table id="dtBasicExample" class="table table-hover table-bordered " cellspacing="0">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.GroupID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminID)
        </th>
        <th>
			🔎Explore
		</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminID)
        </td>
        <td>
            @Html.ActionLink("View", "ViewGroupContests", new { GroupId = item.GroupID })
        </td>
        <td>
            @{
                DBController db = new DBController();
                if (db.SelectTypeById(Convert.ToInt16(Session["ID"])) == "Admin")
                {
                    @Html.ActionLink("Delete", "DeleteGroup", new { GroupID = item.GroupID })
                }
            }
        </td>
    </tr>
}

</table>
