@model A4A.Models.AddFriendModel

@{
    ViewBag.Title = "AddFriend";

    int ID = Convert.ToInt16(Session["ID"]);

    if (ID == 0)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }
}

<h2>🗣AddFriend</h2>
        <hr />
<p>
    <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewAllUsers", "User")';return false;">View All Users &raquo;</button>
    <button style="margin-right:6px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("AddFriend", "User")';return false;">Add Friend &raquo;</button>
    <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("Friends", "User")';return false;">View My Friends &raquo;</button>
</p>
@using (Html.BeginForm("AddFriend", "User"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

