@model A4A.Models.AccountModel

@{
	ViewBag.Title = "Login";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>🔑 Login</h2>
<hr />

@using (Html.BeginForm()) 
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		<div class="form-group">
			@*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
			<div class="col-md-10">
				<label style="color:#000000;font-size:20px;">Email address</label>
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
			<div class="col-md-10">
				<label style="color:#000000;font-size:20px;">Password</label>
				@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Login" class="btn btn-outline-primary" />
			</div>
		</div>
	</div>
}
<br />
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
