@model IEnumerable<A4A.Models.UsersModel>

@{
    ViewBag.Title = "Users";

    int ID = Convert.ToInt16(Session["ID"]);

    if (ID == 0)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }

}
<br />
<h2>👨‍💻 Users</h2>

<p>
	<button class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewAllUsers", "User")';return false;">View All Users &raquo;</button>
	<button style="margin-right:6px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("AddFriend", "User")';return false;">Add Friend &raquo;</button>
	<button class="btn btn-outline-primary" onclick="location.href='@Url.Action("Friends", "User")';return false;">View My Friends &raquo;</button>
</p>

<table id="dtBasicExample" class="table table-hover table-bordered " cellspacing="0">
	<tr class="table-primary">
		<th style="font-style:inherit">
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Rating)
		</th>
		<th>
			Explore
		</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Rating)
			</td>
			<td>
				@Html.ActionLink("View", "ViewUser", "User", new { ID = item.ID }, null)
			</td>
		</tr>
	}

</table>
