@using A4A.DataAccess
@model IEnumerable<A4A.Models.ProblemModel>

@{
    ViewBag.Title = "Problem Set";
    if (ViewBag.ID == 0)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }
}
<br />
<h2>📃 ProblemSet</h2>
<script>$('table').DataTable();</script>
<br />
<table id="dtBasicExample" class="table table-hover table-bordered " cellspacing="0">
    <tr class="table-primary">
        <th class="th-sm">
            @Html.DisplayNameFor(model => model.ProblemName)
        </th>
        <th class="th-sm">
            @Html.DisplayNameFor(model => model.ProblemTopic)
        </th>
        <th class="th-sm">
            @Html.DisplayNameFor(model => model.ProblemDifficulty)
        </th>
		<th>
			Explore
		</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemTopic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemDifficulty)
            </td>
            <td>
                @Html.ActionLink("View", "ViewProblem", "Problem", new { ProblemLink = item.ProblemLink, UserName = ViewBag.UserName, id = ViewBag.ID, ProblemID = item.ProblemID }, null)
            </td>
            <td>
                @{
                    DBController db = new DBController();
                    if (db.SelectTypeById(ViewBag.ID) == "Admin")
                    {
                        @Html.ActionLink("Delete", "DeleteProblem", new { ProblemID = item.ProblemID, ID = ViewBag.ID, UserName = ViewBag.UserName })
                    }
                }
            </td>
        </tr>
    }

</table>
