@model A4A.Models.BlogModel

@{
    ViewBag.Title = "View Blog";
    int ID = Convert.ToInt16(Session["ID"]);

    if (ID == 0)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }
}

<h2>View Blog</h2>

<p>
    <br />
    <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewAllBlogs", "Blog")';return false;">View All Blogs &raquo;</button>
    <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("InsertBlog", "Blog")';return false;">Add Blog &raquo;</button>
    <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewMyBlogs", "Blog")';return false;">View My Blogs &raquo;</button>
</p>

<div>
    <h4>BlogModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogWriterName)
        </dd>

        <dt>
            Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>

        <dt>
            Content
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogContent)
        </dd>

    </dl>
</div>