@model IEnumerable<A4A.Models.TeamModel>

@{
    ViewBag.Title = "ViewMyTeams";
    int ID = Convert.ToInt16(Session["ID"]);

    if (ID == 0)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }
}

<h2>Teams</h2>
<tr>
    <th>
        @Html.ActionLink("Teams", "ViewAllTeams")
    </th>
    <th>
        @Html.ActionLink("My Teams", "ViewMyTeams")
    </th>
    <th>
        @Html.ActionLink("Create Team", "CreateTeam")
    </th>
</tr>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("View", "ViewTeam", "Team", new { TeamID = item.TeamID }, null)
        </td>
        
    </tr>
}

</table>
