@model IEnumerable<A4A.Models.TeamModel>

@{
    ViewBag.Title = "ViewMyTeams";
    if (ViewBag.ID == 0 || ViewBag.ID == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }
    string UserName = ViewBag.UserName;
    int id = 0;
    int.TryParse(Convert.ToString(ViewBag.ID), out id);
}

<h2>Teams</h2>
<tr>
    <th>
        @Html.ActionLink("Teams", "ViewAllTeams", new { id = id, UserName = UserName }, null)
    </th>
    <th>
        @Html.ActionLink("My Teams", "ViewMyTeams", new { id = id, UserName = UserName }, null)
    </th>
    <th>
        @Html.ActionLink("Create Team", "CreateTeam", new { id = id, UserName = UserName }, null)
    </th>
</tr>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("View", "ViewTeam", "Team", new { TeamID = item.TeamID, id = id, UserName = UserName }, null)
        </td>
        
    </tr>
}

</table>
