@model A4A.Models.TeamModel

@{
    ViewBag.Title = "ViewTeam";
    int ID = Convert.ToInt16(Session["ID"]);

    if (ID == 0)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }
}

<h2>Teams</h2>
<tr>
    <th>
        @Html.ActionLink("Teams", "ViewAllTeams")
    </th>
    <th>
        @Html.ActionLink("My Teams", "ViewMyTeams")
    </th>
    <th>
        @Html.ActionLink("Create Team", "CreateTeam")
    </th>
</tr>

<div>
    <h4>TeamModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaderID)
        </dt>

        <dd>
            @ViewBag.Leader
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member2)
        </dt>

        <dd>
            @ViewBag.Member2
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member3)
        </dt>

        <dd>
            @ViewBag.Member3
        </dd>

    </dl>
</div>