@using A4A.DataAccess
@model IEnumerable<A4A.Models.ContestModel>

@{
    ViewBag.Title = "ViewContests";

    int ID = Convert.ToInt16(Session["ID"]);

    if (ID == 0)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }
}
<br />
<h2>🎯 Contests</h2>

<p>
	<br />
	<button style="margin-right:6px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("InsertContest", "Contest")';return false;">Create a Contest &raquo;</button>
	<button class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewMyContests", "Contest")';return false;">My Contests &raquo;</button>
</p>

<table id="dtBasicExample" class="table table-hover table-bordered " cellspacing="0">
    <tr class="table-primary">
        <th>
			Name
        </th>
        <th>
			Date
        </th>
        <th>
			Length
        </th>
        <th>
			Owner
        </th>
		<th>
			🔎Explore
		</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContestLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContestWriterName)
            </td>
            <td>
                @Html.ActionLink("View", "ContestProblems", "Contest", new { ContestID = item.ContestID }, null)
            </td>
            <td>
                @{
                    DBController db = new DBController();
                    if (db.SelectTypeById(Convert.ToInt16(Session["ID"])) == "Admin")
                    {
                        @Html.ActionLink("Delete", "DeleteContest", new { ContestID = item.ContestID }, null)
                    }
                }
            </td>
        </tr>
    }

</table>

